<!-- link de estilos css -->
<link rel="stylesheet" type="text/css" href="../assets/css/footer.css">
<!-- inicio de etiqueta del footer -->
<footer>
	<!-- etiqueta para mostrar el contenido en un contenedor -->
	<div class="cuerpo">
		<!-- etiqueta para mostrar el contenido en un contenedor -->
		<div class="columna1">
			<!-- etiqueta para mostrar una imagen -->
			<center><img src="imagenes/logof.ico" id="imagen"></center>
		<!-- cierre de la etiqueta del contenedor -->
		</div>
		<!-- etiqueta para mostrar el contenido en un contenedor -->
		<div class="columna2">
			<!-- titulo -->
			<h2>Información De Contacto</h2>
			<p>Dirección: Cra. 10 Este #5 Sur52<br>Localidad: San Cristobal<br>Bogotá D.C, Cundinamarca</p>
			<p>Celular 1: 3195449764<br>Celular 2: 3168274813</p>
			<p>Email: nuevocampeonato@gmail.com</p>
		<!-- cierre de la etiqueta del contenedor -->
		</div>
		<!-- etiqueta para mostrar el contenido en un contenedor -->
		<div class="columna3">
			<!-- titulo -->
			<h2>Redes Sociales</h2>
			<!-- link de red social facebook -->
			<a href="https://www.facebook.com" target="_blank"><img src="imagenes/facebook.ico" class="logo"></a>
			<!-- link de red social twitter -->
			<a href="https://twitter.com" target="_blank"><img src="imagenes/x.ico" class="logo"></a>
		<!-- cierre de la etiqueta del contenedor -->
		</div>
	<!-- cierre de la etiqueta del contenedor -->
	</div>
	<!-- etiqueta para mostrar el contenido en un contenedor -->
	<div class="copy">
		<p>© 2024 | Nuevo Formato De Campeonato | Desarrollado Por: Anthony Ruiz y Andres Vanegas</p>
		<p></p>
	<!-- cierre de la etiqueta del contenedor -->
	</div>
<!-- final de etiqueta del footer -->
</footer>